.controls {
  $root: &;
  position: absolute;
  display: flex;
  align-items: center;
  transition: opacity .75s ease;
  opacity: 0;
  outline: 0;
  inset: 0;
  z-index: 15;
  &:focus,
  &:hover {
    tf-controls-header,
    tf-controls-play,
    #{$root}__footer {
      opacity: 1;
    }
    tf-controls-header{
      background: linear-gradient(to bottom, rgba(0, 0, 0, .6), transparent);

    }
    #{$root}__footer {
      background: linear-gradient(to top, rgba(0, 0, 0, .6), transparent);
    }
  }
  & > tf-controls-header {
    top: 0;
  }
  & > tf-controls-header,
  &__footer,
  &__footer > tf-controls-play {
    position: absolute;
    display: flex;
    align-items: center;
    opacity: 0;
    transition: opacity .75s ease;
  }
  & > tf-controls-header,
  &__footer {
    padding: 8px 10px;
    justify-content: space-between;
    left: 0;
    right: 0;
    z-index: 20;
  }
  &__footer {
    flex-wrap: wrap;
    bottom: 0
  }

  &__progress {
    position: relative;
    width: 100%;
    height: 4px;
    margin-bottom: 10px;
    &:hover {
      #{$root}__progress-played,
      #{$root}__progress-buffered {
        height: 6px;
      }
      #{$root}__progress-played {
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
      }
    }
  }
  &__progress-input {
    position: absolute;
    -webkit-appearance: none;
    width: 100%;
    height: 4px;
    background: rgba(255, 255, 255, 0.1);
    transition: height .1s ease-in;
    outline: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 25;
    &::-webkit-slider-runnable-track,
    &::-moz-range-track,
    &::-ms-track {
      background: transparent;  
      border: 0;
      border-color: transparent;
      color: transparent;
      cursor: pointer;
    }
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      width: 4px;
      height: 4px;
      box-sizing: content-box;
      border-radius: 4px;
      border: none;
      background: white;
      transition: all .1s ease-in;
      &:focus,
      &:hover,
      &:active {
        box-shadow: 0 0 0 4px rgba(255, 255, 255, .2);
      }
    }
    &::-moz-range-thumb{
      width: 4px;
      height: 4px;
      box-sizing: content-box;
      border-radius: 4px;
      border: none;
      background: white;
      transition: all .1s ease-in;
      &:focus,
      &:hover,
      &:active {
        box-shadow: 0 0 0 4px rgba(255, 255, 255, .2);
      }
    }
    &::-ms-thumb {
      width: 4px;
      height: 4px;
      box-sizing: content-box;
      border-radius: 4px;
      border: none;
      background: white;
      transition: all .1s ease-in;
      &:focus,
      &:hover,
      &:active {
        box-shadow: 0 0 0 4px rgba(255, 255, 255, .2);
      }
    }
    &::-moz-range-progress {
      width: 4px;
      height: 4px;
      border-radius: 4px;
      background: white;
      transition: all .1s ease-in;
    }
    &::-ms-fill-lower {
      width: 4px;
      height: 4px;
      background: white;
      transition: all .1s ease-in;
    }
    &:hover {
      height: 6px;
      cursor: pointer;
      &::-webkit-slider-thumb {
        width: 10px;
        height: 10px;
        border-radius: 10px;
      }
      &::-moz-range-thumb {
        width: 10px;
        height: 10px;
        border-radius: 10px;
      }
      &::-moz-range-progress{
        width: 6px;
        height: 6px;
        border-radius: 6px;
      }
      &::-ms-fill-lower {
        width: 6px;
        height: 6px;
      }
    }
  }
  &__progress-played,
  &__progress-buffered {
    position: absolute;
    height: 4px;
    outline: 0;
    transition: height .1s ease-in;
    top: 0;
    left: 0;
    right: 0;
    z-index: 18;
  }
  &__progress-played {
    width: 0%;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background: rgba(255, 255, 255, 1);
  }
  &__progress-buffered {
    width: 0%;
    background: rgba(255, 255, 255, 0.18);
  }
  & tf-controls-modes,
  &__time-sound {
    display: flex;
    align-items: center;
    gap: .8em;
  }
  tf-controls-play {
    padding: 7px 0;
    justify-content: space-evenly;
    transform: translateX(-50%);
    left: 50%;
    bottom: 0;
    z-index: 25;
  }
}

@import "./responsive/controls";