.controls {
  @media screen and (max-width: 768px) {
    & tf-controls-modes,
    &__time-sound {
      gap: .5em;
    }
  }
  @media screen and (max-width: 535px) {
    & tf-controls-modes,
    &__time-sound {
      gap: .3em;
    }
  }
  @media screen and (max-width: 375px) {
    & tf-controls-modes,
    &__time-sound {
      gap: .1em;
    }
  }
}